<div class="container">
    <div class="card col-md-6 mx-auto my-5">
        <h1>Write a new comment</h1>
        <form ng-submit="createComment()">
            <div class="form-group">
                <textarea class="form-control" ng-model="comment.body" placeholder="Body ..." required
                    oninvalid="this.setCustomValidity('Por favor ingresa tu nombre')"
                    oninput="this.setCustomValidity('')">></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div >
        <div class="card col col-md-12" ng-repeat="comment in comments">
            <div class="card-body" ng-if="comment.post_id == checkRouteparams()">
                <h4 class="card-text"> {{ comment.body }} </h4>
                <div class="row">
                    <div class="col col-md-4 text-black-50">id: {{ comment.id }} </div>
                    <div class="col col-md-4 text-black-50">Post id: {{ comment.post_id }} </div>
                    <div class="col col-md-4 text-black-50">User id: {{ comment.user_id }} <button class="btn btn-danger" ng-if=" comment.user_id == getID()" ng-click="deleteComment(comment.id)"><i class="far fa-trash-alt"></i></button></div>
                    <div class="col col-md-4"><i class="far fa-thumbs-up" ng-click="likeComment(comment.id)"></i> likes: {{ comment.num_likes }} </div>
                </div>
            </div>
        </div>
    </div>
</div>